# Location of the Android SDK. This is only used by Gradle when imported into Android Studio.
# Copy this file to local.properties and update sdk.dir to point to your local Android SDK location.
# Example for macOS:
# sdk.dir=/Users/YOUR_USERNAME/Library/Android/sdk
# Example for Windows:
# sdk.dir=C\:\\Users\\YOUR_USERNAME\\AppData\\Local\\Android\\Sdk
# Example for Linux:
# sdk.dir=/home/YOUR_USERNAME/Android/Sdk

sdk.dir=/path/to/android/sdk
